@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

body {
    width: 100vw;
    height: 1rem;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0f0f10;
}

header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(to left, goldenrod, #0f0f10 22%);
}

.nav li {
    display: inline-block;
    padding: 65px;
}

.nav a {
    list-style: none;
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.nav li:hover {
    transform: scale(1.3);
    transition: 1s;
}

.nav li a:hover {
    color: teal;
}

.foto img {
    border-radius: 100%;
    width: 40%;
    border: 5px solid teal;
    margin: 1rem;
    cursor: default;
    transition: all 0.5s;
}

.foto img:hover {
    transform: scale(1.1);
}

main {
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.enunciado {
    position: absolute;
    left: 5%;
    top: 60%;
    color: white;
}

.whatsapp {
    position: absolute;
    top: 80%;
    left: 7%;
}

#numero {
    position: relative;
    color: white;
    bottom: 25px;
    left: -20px;
}

.correo {
    position: absolute;
    top: 90%;
    left: 8.3%;
}

#email {
    position: relative;
    color: white;
    bottom: 10px;
    left: -1px;
}

.ubicacion {
    position: absolute;
    top: 99%;
    left: 8.3%;
}

#pereira {
    position: relative;
    color: white;
    bottom: 8px;
    left: 1%;
}

.contact_form {
    position: relative;
    width: 460px;
    height: auto;
    margin: 80px auto;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border: 3px solid teal;
    box-shadow: 0 0 10px goldenrod;
    padding-left: 30px;
    left: 20%;
    bottom: 50px;
}


input {
    background-color: #fbfbfb;
    width: 408px;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: goldenrod;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}


textarea {
    background-color: #fbfbfb;
    width: 405px;
    height: 150px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: goldenrod;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
}


label {
    display: block;
    float: center;
}


button {
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    background-color: #0f0f10;
    border-color: goldenrod;
    border-style: solid;
    border-radius: 10px;
    width: 420px;
    cursor: pointer;
}


button p {
    color: #fff;
}


span {
    color: goldenrod;
}


.aviso {
    font-size: 13px;
    color: white;
}


h1 {
    font-size: 39px;
    text-align: letf;
    padding-bottom: 20px;
    color: white;
}


h3 {
    font-size: 16px;
    padding-bottom: 30px;
    color: white;
}


p {
    font-size: 14px;
    color: white;
}


::-webkit-input-placeholder {
    color: #a8a8a8;
}


::-webkit-textarea-placeholder {
    color: #a8a8a8;
}


.formulario input:focus {
    outline: 0;
    border: 1px solid teal;
}


.formulario textarea:focus {
    outline: 0;
    border: 1px solid teal;
}


footer {
    position: relative;
    width: 100%;
    height: 5%;
    top: 70%;
    background-color: #0f0f10;
}

.logos {
    width: 100vw;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    position: absolute;
    bottom: 10%;
}

.gracias {
    position: absolute;
    color: white;
    top: 90%;
    right: 44%;
}